@use "./variable" as *;

.header-meta {
  padding: $website-text-size5 40px;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-left {
      display: flex;
      align-items: center;
      gap: $website-text-size5;

      img {
        width: 120px;
      }

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: $website-white-color;
          font-size: $website-text-size4;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: $website-greenyellow-color;
          }
        }
      }
    }

    .right-menu {
      .icons-menu {
        display: flex;
        align-items: center;
        gap: $website-text-size3;
        font-size: $website-text-size4;

        li {
          a {
            i {
              padding: 7px;
              background-color: $website-white-color;
              color: $website-black-color;
              border-radius: 5px;
              transition: color 0.3s ease-in-out;

              &:hover {
                color: $website-greenyellow-color;
              }
            }
          }
        }
      }
    }

    .menu-mobile {
      color: $website-white-color;
      display: none;
      font-size: $website-text-size4;
      cursor: pointer;
    }
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.menu-bar {
  display: none;

  &.active {
    display: block;
  }
}

.main {
  .meta-record-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .meta-text {
      color: $website-white-color;
      h2 {
        font-size: $website-text-size7;
        font-weight: 500;
        margin-bottom: $website-text-size4;
      }
      p {
        font-size: 14px;
        width: 350px;
        margin-bottom: $website-text-size10;
      }
      button {
        padding: 14px 40px;
        font-size: 17px;
        border-radius: 7px;
        border: 1px solid $website-black-color;
        background-color: $website-greenyellow-color;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: $website-black-color;
          color: $website-greenyellow-color;
          border: 1px solid $website-greenyellow-color;
        }
      }
    }
  }
  .Nft {
    display: flex;
    justify-content: space-between;
    .nft-box-left {
      width: 42%;
      h2 {
        font-size: $website-text-size7;
        color: $website-white-color;
        margin-bottom: 10px;
      }
      img {
        margin-top: $website-text-size3;
      }
    }
    .nft-box-right {
      width: 50%;
      .nft-box-text {
        color: $website-greenyellow-color;
        padding: 15px;
        border-left: 2px solid $website-greenyellow-color;
        h3 {
          font-size: 1.4rem;
          font-weight: 500;
          width: 90%;
          line-height: 1.5;
        }
      }
      p {
        margin-top: $website-text-size4;
        color: $website-white-color;
        font-size: 16px;
        line-height: 1.5;
      }
      button {
        margin-top: $website-text-size9;
        padding: 10px 22px;
        padding-bottom: 14px;
        font-size: 17px;
        border: 1px solid $website-greenyellow-color;
        color: $website-white-color;
        background-color: transparent;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        &:hover {
          background-color: $website-greenyellow-color;
          color: $website-black-color;
          border: 1px solid $website-greenyellow-color;
        }
      }
    }
  }
  .img img {
    width: 100%;
    margin-top: $website-text-size7;
  }

  .img-card {
    margin-top: $website-text-size8;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: $website-text-size8;
    row-gap: $website-text-size9;
    .card {
      text-align: center;
      color: $website-white-color;
      p {
        margin-top: 10px;
      }
    }
  }
  .story-parent {
    color: $website-white-color;
    margin-top: $website-text-size14;
    margin-bottom: 4rem;
    .story-name {
      margin-bottom: $website-text-size6;
      text-align: center;
      h2{
        font-size: $website-text-size6;
        margin-right: 8rem;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
    .story {
      display: flex;
      width: 85%;
      .story-text {
        color: $website-white-color;
        width: 70%;
        p{
          cursor: pointer;
          padding: 20px;
          margin-bottom: 16px;
        }
        #foundders{
          background-color: #222;
          color: $website-greenyellow-color;
        }
      }
      .story-div{
        display: flex;
        gap: 2rem;
        background-color: #222;
        padding: 2.5rem 4rem;

        img{
          height: 330px;
          width: 200px;
          object-fit: cover;
        }
        .story-div-text{
          >div{
            color: $website-greenyellow-color;
            border-left: 2px solid $website-greenyellow-color;
            padding-left: 15px;
            h3{
            font-size: 24px;
            font-weight: 500;
            margin-bottom: $website-text-size4;
            line-height: 1.5;
          }
          }
          p{
            margin-top: 1.8rem;
            font-size: 16px;
            line-height: 1.7;
          }
        }
      }
    }
  }
}

// @media (max-width: 600px) {
//   .header-meta {
//     padding: $website-text-size5 40px;

//     .navbar {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;

//       .menu-left {
//         display: flex;
//         align-items: center;
//         gap: $website-text-size5;

//         img {
//           width: 120px;
//         }

//         li {
//           list-style: none;

//           a {
//             text-decoration: none;
//             color: $website-white-color;
//             font-size: $website-text-size4;
//             transition: color 0.3s ease-in-out;

//             &:hover {
//               color: $website-greenyellow-color;
//             }
//           }
//         }
//       }

//       .right-menu {
//         .icons-menu {
//           display: flex;
//           align-items: center;
//           gap: $website-text-size3;
//           font-size: $website-text-size4;

//           li {
//             a {
//               i {
//                 padding: 7px;
//                 background-color: $website-white-color;
//                 color: $website-black-color;
//                 border-radius: 5px;
//                 transition: color 0.3s ease-in-out;

//                 &:hover {
//                   color: $website-greenyellow-color;
//                 }
//               }
//             }
//           }
//         }
//       }

//       .menu-mobile {
//         color: $website-white-color;
//         display: none;
//         font-size: $website-text-size4;
//         cursor: pointer;
//       }
//     }
//   }
// }
