@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// color
$website-black-color:#000;
$website-greenyellow-color: rgb(141,253,27);
$website-blueviolet-color: rgb(66,0,106);
$website-white-color:#fff;

// Size
$website-text-size1:0.5rem;
$website-text-size2:0.8rem;
$website-text-size3:1.2rem;
$website-text-size4:1.5rem;
$website-text-size5:2rem;
$website-text-size6:3rem;
$website-text-size7:3.5rem;
$website-text-size8:4rem;
$website-text-size9:5rem;
$website-text-size10:6rem;
$website-text-size11:7rem;
$website-text-size12:8rem;
$website-text-size13:9rem;
$website-text-size14:10rem;

// Font-famely
$website-font-audiowide: "Audiowide", sans-serif;
$website-font-roboto: "Roboto", sans-serif;