@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Audiowide", sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.header-meta {
  padding: 2rem 40px;
}
.header-meta .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-meta .navbar .menu-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header-meta .navbar .menu-left img {
  width: 120px;
}
.header-meta .navbar .menu-left li {
  list-style: none;
}
.header-meta .navbar .menu-left li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}
.header-meta .navbar .menu-left li a:hover {
  color: rgb(141, 253, 27);
}
.header-meta .navbar .right-menu .icons-menu {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.5rem;
}
.header-meta .navbar .right-menu .icons-menu li a i {
  padding: 7px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  transition: color 0.3s ease-in-out;
}
.header-meta .navbar .right-menu .icons-menu li a i:hover {
  color: rgb(141, 253, 27);
}
.header-meta .navbar .menu-mobile {
  color: #fff;
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.menu-bar {
  display: none;
}
.menu-bar.active {
  display: block;
}

.main .meta-record-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .meta-record-label .meta-text {
  color: #fff;
}
.main .meta-record-label .meta-text h2 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.main .meta-record-label .meta-text p {
  font-size: 14px;
  width: 350px;
  margin-bottom: 6rem;
}
.main .meta-record-label .meta-text button {
  padding: 14px 40px;
  font-size: 17px;
  border-radius: 7px;
  border: 1px solid #000;
  background-color: rgb(141, 253, 27);
  transition: all 0.3s ease-in-out;
}
.main .meta-record-label .meta-text button:hover {
  background-color: #000;
  color: rgb(141, 253, 27);
  border: 1px solid rgb(141, 253, 27);
}
.main .Nft {
  display: flex;
  justify-content: space-between;
}
.main .Nft .nft-box-left {
  width: 42%;
}
.main .Nft .nft-box-left h2 {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 10px;
}
.main .Nft .nft-box-left img {
  margin-top: 1.2rem;
}
.main .Nft .nft-box-right {
  width: 50%;
}
.main .Nft .nft-box-right .nft-box-text {
  color: rgb(141, 253, 27);
  padding: 15px;
  border-left: 2px solid rgb(141, 253, 27);
}
.main .Nft .nft-box-right .nft-box-text h3 {
  font-size: 1.4rem;
  font-weight: 500;
  width: 90%;
  line-height: 1.5;
}
.main .Nft .nft-box-right p {
  margin-top: 1.5rem;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.main .Nft .nft-box-right button {
  margin-top: 5rem;
  padding: 10px 22px;
  padding-bottom: 14px;
  font-size: 17px;
  border: 1px solid rgb(141, 253, 27);
  color: #fff;
  background-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}
.main .Nft .nft-box-right button:hover {
  background-color: rgb(141, 253, 27);
  color: #000;
  border: 1px solid rgb(141, 253, 27);
}
.main .img img {
  width: 100%;
  margin-top: 3.5rem;
}

/*# sourceMappingURL=style.css.map */
