@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: "Audiowide", sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.header-meta {
  padding: 2rem 40px;
}
.header-meta .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-meta .navbar .menu-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header-meta .navbar .menu-left img {
  width: 120px;
}
.header-meta .navbar .menu-left li {
  list-style: none;
}
.header-meta .navbar .menu-left li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}
.header-meta .navbar .menu-left li a:hover {
  color: rgb(141, 253, 27);
}
.header-meta .navbar .right-menu .icons-menu {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.5rem;
}
.header-meta .navbar .right-menu .icons-menu li a i {
  padding: 7px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  transition: color 0.3s ease-in-out;
}
.header-meta .navbar .right-menu .icons-menu li a i:hover {
  color: rgb(141, 253, 27);
}
.header-meta .navbar .menu-mobile {
  color: #fff;
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.menu-bar {
  display: none;
}
.menu-bar.active {
  display: block;
}

.main .meta-record-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .meta-record-label .meta-text {
  color: #fff;
}
.main .meta-record-label .meta-text h2 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.main .meta-record-label .meta-text p {
  font-size: 14px;
  width: 350px;
  margin-bottom: 6rem;
}
.main .meta-record-label .meta-text button {
  padding: 14px 40px;
  font-size: 17px;
  border-radius: 7px;
  border: 1px solid #000;
  background-color: rgb(141, 253, 27);
  transition: all 0.3s ease-in-out;
}
.main .meta-record-label .meta-text button:hover {
  background-color: #000;
  color: rgb(141, 253, 27);
  border: 1px solid rgb(141, 253, 27);
}
.main .Nft {
  display: flex;
  justify-content: space-between;
}
.main .Nft .nft-box-left {
  width: 42%;
}
.main .Nft .nft-box-left h2 {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 10px;
}
.main .Nft .nft-box-left img {
  margin-top: 1.2rem;
}
.main .Nft .nft-box-right {
  width: 50%;
}
.main .Nft .nft-box-right .nft-box-text {
  color: rgb(141, 253, 27);
  padding: 15px;
  border-left: 2px solid rgb(141, 253, 27);
}
.main .Nft .nft-box-right .nft-box-text h3 {
  font-size: 1.4rem;
  font-weight: 500;
  width: 90%;
  line-height: 1.5;
}
.main .Nft .nft-box-right p {
  margin-top: 1.5rem;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.main .Nft .nft-box-right button {
  margin-top: 5rem;
  padding: 10px 22px;
  padding-bottom: 14px;
  font-size: 17px;
  border: 1px solid rgb(141, 253, 27);
  color: #fff;
  background-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}
.main .Nft .nft-box-right button:hover {
  background-color: rgb(141, 253, 27);
  color: #000;
  border: 1px solid rgb(141, 253, 27);
}
.main .img img {
  width: 100%;
  margin-top: 3.5rem;
}
.main .img-card {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 4rem;
  row-gap: 5rem;
}
.main .img-card .card {
  text-align: center;
  color: #fff;
}
.main .img-card .card p {
  margin-top: 10px;
}
.main .story-parent {
  color: #fff;
  margin-top: 10rem;
  margin-bottom: 4rem;
}
.main .story-parent .story-name {
  margin-bottom: 3rem;
  text-align: center;
}
.main .story-parent .story-name h2 {
  font-size: 3rem;
  margin-right: 8rem;
  font-weight: 500;
  text-transform: capitalize;
}
.main .story-parent .story {
  display: flex;
  width: 85%;
}
.main .story-parent .story .story-text {
  color: #fff;
  width: 70%;
}
.main .story-parent .story .story-text p {
  cursor: pointer;
  padding: 20px;
  margin-bottom: 16px;
}
.main .story-parent .story .story-text #foundders {
  background-color: #222;
  color: rgb(141, 253, 27);
}
.main .story-parent .story .story-div {
  display: flex;
  gap: 2rem;
  background-color: #222;
  padding: 2.5rem 4rem;
}
.main .story-parent .story .story-div img {
  height: 330px;
  width: 200px;
  object-fit: cover;
}
.main .story-parent .story .story-div .story-div-text > div {
  color: rgb(141, 253, 27);
  border-left: 2px solid rgb(141, 253, 27);
  padding-left: 15px;
}
.main .story-parent .story .story-div .story-div-text > div h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.main .story-parent .story .story-div .story-div-text p {
  margin-top: 1.8rem;
  font-size: 16px;
  line-height: 1.7;
}
.main .Roadmap {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main .Roadmap .Roadmap-img {
  margin-top: -6rem;
  position: absolute;
  left: 0;
  z-index: -1;
}
.main .Roadmap .Roadmap-img2 {
  margin-top: 25rem;
  position: absolute;
  right: 0;
  z-index: -1;
}
.main .Roadmap .Roadmap-img3 {
  margin-top: 15rem;
  position: absolute;
  left: 0;
  z-index: -1;
  bottom: -15rem;
}
.main .Roadmap h2 {
  margin-top: 3rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}
.main .Roadmap .Roadmap-card-parent {
  border: 2px solid rgb(141, 253, 27);
  width: 500px;
  margin-top: 8rem;
}
.main .Roadmap .Roadmap-card-parent .Roadmap-text {
  color: #fff;
}
.main .Roadmap .Roadmap-card-parent .Roadmap-mini-card {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 10px;
  text-align: start;
}
.main .Roadmap .Roadmap-card-parent .Roadmap-mini-card .Roadmap-text {
  padding-left: 20px;
}
.main .Roadmap .Roadmap-card-parent .Roadmap-mini-card .Roadmap-text p {
  font-size: 12px;
  margin-top: 10px;
}
.main .Roadmap .Roadmap-card-parent .Roadmap-mini-card .p-roadmap {
  font-size: 12px;
  color: #fff;
  margin-top: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.main .Roadmap .Roadmap-card {
  border: 2px solid rgb(141, 253, 27);
  width: 100%;
  z-index: 1111;
  color: #fff;
  display: flex;
  justify-content: start;
  padding: 10px;
  gap: 10px;
  background-color: #222;
}
.main .Roadmap .Roadmap-card .Roadmap-card-mini {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}
.main .Roadmap .Roadmap-card .Roadmap-card-mini p {
  font-size: 10px;
  font-weight: 400;
  color: rgb(141, 253, 27);
}
.main .Roadmap .Roadmap-card .Roadmap-card-mini h3 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
}
.main .Roadmap .Roadmap-card .Roadmap-card-number p {
  color: #000;
  padding: 12px 20px;
  object-fit: cover;
  background-color: rgb(141, 253, 27);
  font-size: 1.2rem;
}
.main .logoholder-text {
  text-align: center;
}
.main .logoholder-text p {
  margin-top: 10rem;
  color: rgb(141, 253, 27);
  font-size: 12px;
  margin-bottom: 3.5rem;
}
.main .logoholder-text img {
  margin-left: -15rem;
  margin-bottom: 3rem;
}
.main .frequently {
  margin-top: 10rem;
  display: flex;
  color: #fff;
  width: 100%;
  gap: 1rem;
}
.main .frequently .right-element {
  width: 800px;
}
.main .frequently .right-element h2 {
  font-size: 3rem;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 400;
}
.main .frequently .right-element img {
  margin-top: 3rem;
}
.main .frequently .left-element {
  width: 1000px;
  background-color: #222;
  color: #f4f4f4;
  padding: 2rem;
  border-radius: 5px;
}
.main .frequently .left-element .checkbox {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .frequently .left-element p {
  line-height: 1.6;
  margin-top: 2rem;
  font-weight: 400;
  color: rgba(187, 204, 187, 0.8);
}
.main .user {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.main .user .user-card {
  text-align: center;
}
.main .user .user-card h3 {
  color: #fff;
  margin-top: 1.5rem;
}
.main .user .user-card p {
  color: rgb(141, 253, 27);
  font-size: 12px;
  margin-top: 0.8rem;
}
.main .user .user-card > div {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  text-align: center;
  margin-left: 11rem;
  margin-top: 1.2rem;
}
.main .user .user-card > div i {
  padding: 7px;
  background-color: #fff;
}
.main .user .user-card h4 {
  color: #f4f4f4;
  font-size: 14px;
  margin-top: 1rem;
}
.main .JoinOur {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
}
.main .JoinOur > div {
  padding: 4rem;
}
.main .JoinOur > div h2 {
  color: #fff;
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.main .JoinOur > div p {
  margin-bottom: 4cqb;
  color: #fff;
  width: 56%;
}
.main .JoinOur > div .discord {
  color: rgb(141, 253, 27);
}
.main .JoinOur > div button {
  padding: 10px 30px;
  font-size: 17px;
  background-color: rgb(141, 253, 27);
  border: 1px solid rgb(141, 253, 27);
  border-radius: 6px;
  transition: color 0.3s ease-in-out;
}
.main .JoinOur > div button:hover {
  background-color: #000;
  color: rgb(141, 253, 27);
}

/*# sourceMappingURL=style.css.map */
